<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form action="/" method="GET">
      <label for="nombreUsuarioLogin">Ingresa tu nombre de usuari@</label>
      <input type="text" name="nombreUsuarioLogin" id="nombreUsuarioLogin" />
      <br /><br />

      <label for="nombreUsuarioLogin">Ingresa tu contraseña</label>
      <input
        type="password"
        name="nombreUsuarioLogin"
        id="nombreUsuarioLogin"
      />
      <br /><br />

      <button type="submit">Ingresar</button>
      <br /><br />
    </form>
  </body>
</html>
